<template>
  <div id="app">
    <div class="charts-container">
      <div class="charts-header">
        <h1 class="title">数据可视化工坊ShowCase</h1>
        <div class="border-box"></div>
      </div>
      <div class="charts-left">
        <div class="equipment-chart" id="equipment-chart"></div>
        <div class="brand-chart" id="brand-chart"></div>
      </div>
      <div class="charts-right">
        <div class="workshop-chart" id="workshop-chart"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import echarts from "echarts";
import {
  getTotalOilOfEachWorkShop,
  getTotalOilOfEachEquipment,
  getTotalOilOfEachBrand
} from "./data/calculatedDate";
import { chartCommonConfig } from "./config/chart-config";
Vue.prototype.$echarts = echarts;
export default {
  name: "app",
  created() {},
  mounted() {
    this.drawTotalOilOfEachWorkShop();
    this.drawTotalOilOfEachEquipment();
    this.drawTotalOilOfEachBrand();
  },
  methods: {
    drawTotalOilOfEachWorkShop() {
      // 基于准备好的dom，初始化echarts实例
      let workshopChart = this.$echarts.init(
        document.getElementById("workshop-chart")
      );
      const totalOilOfEachWorkShop = getTotalOilOfEachWorkShop();
      // 绘制图表
      workshopChart.setOption(chartCommonConfig);
      workshopChart.setOption({
        title: {
          text: "各车间用油量统计"
        },
        xAxis: {
          axisLine: {
            lineStyle: {
              color: "#8C9BA4"
            }
          },
          data: totalOilOfEachWorkShop.map(item => item[0]),
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8C9BA4",
              fontSize: "16"
            }
          }
        },
        legend: [
          {
            selected: {
              总用油量: true,
              起重机: false,
              冲压机: false, //图例为‘全部’的一项默认置灰
              中国石化: false,
              德科: false,
              美孚: false,
              壳牌: false
            },
            data: ["中国石化", "德科", "美孚", "壳牌"],
            textStyle: {
              color: "#8C9BA4",
              fontSize: 14
            },
            top: 30
            // right: 180
          },
          {
            selected: {
              总用油量: true,
              起重机: false,
              冲压机: false, //图例为‘全部’的一项默认置灰
              中国石化: false,
              德科: false,
              美孚: false,
              壳牌: false
            },
            data: ["总用油量", "起重机", "冲压机"],
            textStyle: {
              color: "#8C9BA4",
              fontSize: 14
            },
            // left: 180
            icon: "bar"
          }
        ],
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: {
              color: "#8C9BA4"
            }
          },
          axisLabel: {
            formatter: "{value} L",
            show: true,
            textStyle: {
              color: "#8C9BA4",
              fontSize: "16"
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#8C9BA4",
              width: 1,
              type: "bold"
            }
          }
        },
        series: [
          {
            name: "总用油量",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1]["总用油量"])
          },
          {
            name: "冲压机",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].type["冲压机"])
          },
          {
            name: "起重机",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].type["起重机"])
          },
          {
            name: "中国石化",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].brand["中国石化"])
          },
          {
            name: "壳牌",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].brand["壳牌"])
          },
          {
            name: "德科",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].brand["德科"])
          },
          {
            name: "美孚",
            type: "line",
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            },
            data: totalOilOfEachWorkShop.map(item => item[1].brand["美孚"])
          }
        ]
      });
    },
    drawTotalOilOfEachEquipment() {
      // 基于准备好的dom，初始化echarts实例
      let equipmentChart = this.$echarts.init(
        document.getElementById("equipment-chart")
      );
      const totalOilOfEachEquipment = getTotalOilOfEachEquipment();
      // 绘制图表
      // equipmentChart.setOption(chartCommonConfig);
      const option = {
        title: {
          text: "各类型设备油量使用情况",
          x: "center",
          textStyle: {
            color: "#8C9BA4",
            fontSize: 22
          }
        },
        color: [
          "#1de9b6",
          "#2979ff",
          "#00b0ff",
          "#ff3d00",
          "#ff9100",
          "#ff1744",
          "#d500f9",
          "#651fff",
          "#00e676",
          "#c6ff00",
          "#ffea00"
        ],

        tooltip: {
          trigger: "item",
          formatter: "{b} : {c}L </br>({d}%)",
          textStyle: {
            fontSize: 12
          }
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: "55%",
            center: ["50%", "180"],
            label: {
              normal: {
                formatter: "{b|{b}:}\n{per|{d}%}",
                borderWidth: 1,
                borderRadius: 4,
                rich: {
                  hr: {
                    borderColor: "#aaa",
                    width: "100%",
                    borderWidth: 0.5,
                    height: 0
                  },
                  b: {
                    fontSize: 16,
                    lineHeight: 33
                  },
                  per: {
                    color: "#eee",
                    padding: [2, 4],
                    borderRadius: 2,
                    fontSize: 14
                  }
                }
              }
            },
            data: totalOilOfEachEquipment.map(item => {
              return {
                value: item[1],
                name: item[0]
              };
            })
          }
        ]
      };
      equipmentChart.setOption(option);
    },
    drawTotalOilOfEachBrand() {
      let brandChart = this.$echarts.init(
        document.getElementById("brand-chart")
      );
      const totalOilOfEachBrand = getTotalOilOfEachBrand();
      // 绘制图表
      const option = {
        color: [
          "#1de9b6",
          "#2979ff",
          "#00b0ff",
          "#ff3d00",
          "#ff9100",
          "#ff1744",
          "#d500f9",
          "#651fff",
          "#00e676",
          "#c6ff00",
          "#ffea00"
        ],
        title: {
          text: "各品牌油量使用情况",
          x: "center",
          textStyle: {
            color: "#8C9BA4",
            fontSize: 22
          }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
          left: 100,
          right: 20,
          // bottom: 20,
          show: true,
          borderColor: "#0a3c51"
        },
        dataset: {
          source: totalOilOfEachBrand
        },
        xAxis: {
          axisLine: {
            lineStyle: {
              color: "#8C9BA4"
            }
          },
          data: totalOilOfEachBrand.map(item => item[0]),
          axisLabel: {
            show: true,
            textStyle: {
              color: "#8C9BA4",
              fontSize: "16"
            }
          }
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: {
              color: "#8C9BA4"
            }
          },
          axisLabel: {
            formatter: "{value} L",
            show: true,
            textStyle: {
              color: "#8C9BA4",
              fontSize: "16"
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#8C9BA4",
              width: 1,
              type: "bold"
            }
          }
        },
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [
          {
            type: "bar",
            barWidth: 25, //柱图宽度
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#83bff6" },
                  { offset: 0.5, color: "#188df0" },
                  { offset: 1, color: "#188df0" }
                ])
              },
              emphasis: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#2378f7" },
                  { offset: 0.7, color: "#2378f7" },
                  { offset: 1, color: "#83bff6" }
                ])
              }
            },
            markPoint: {
              data: [
                { type: "max", name: "最大值" },
                { type: "min", name: "最小值" }
              ]
            }
          }
        ]
      };
      brandChart.setOption(option);
    }
  }
};
</script>

<style lang="scss">
html,
body {
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  background-color: #061c27;
  padding: 18px;
  .charts-container {
    display: flex;
    flex-wrap: wrap;
    height: 840px;
    .charts-header {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      height: 86px;
      background-color: #06293d;
      margin-bottom: 18px;
      border-radius: 3px;
      padding-left: 18px;
      .title {
        flex: 0 0 auto;
        margin-right: 86px;
        text-align: left;
        font-size: 28px;
        color: #fff;
      }
      .border-box {
        flex: 1;
        height: 36px;
        border: none;
        border-top: 2px solid #0a3c51;
        border-bottom: 2px solid #0a3c51;
      }
    }
    .charts-left {
      flex: 0 0 520px;
      flex-wrap: wrap;
      height: 100%;
      border-radius: 3px;
      margin-right: 5px;
      .equipment-chart {
        height: 40%;
        border-radius: 3px;
        padding-top: 32px;
        background-color: #06293d;
      }
      .brand-chart {
        height: 50%;
        padding: 8px;
        border-radius: 3px;
        margin-top: 5px;
        background-color: #06293d;
      }
    }
    .charts-right {
      flex: 1;
      height: 100%;
      padding: 32px 0;
      border-radius: 3px;
      background-color: #06293d;
      .workshop-chart {
        height: 720px;
      }
    }
  }
}
</style>
